<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
    <script type="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <h1>Main Page</h1>
    <hr>
    <a sec:authorize="isAnonymous()" th:href="@{/user/login}">Login</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">Logout</a>
    <a sec:authorize="isAnonymous()" th:href="@{/user/signup}">SingUp</a>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Admin</a>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/book}">List</a>
</body>
</html>