<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body><div class="page-header">
    <h1>Login</h1>
    <hr>
	</div>
	
    <form class="navbar-form navbar" action="/user/login" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <input class="form-control" type="text" name="username" placeholder="Email">
        <input class="form-control" type="password" name="password" placeholder="password">
        <button class="btn btn-primary" type="submit">Login</button>
        <input class="btn btn-default" onclick='javascript:window.history.back()' value='Back' type='button' />
    </form>
</body>
</html>